<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Poetry Pharmacy - {% block title_content %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/css/acount.css">

</head>
<body>
    
<!-- 
navigation bar 
-------------------------------------------->
<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/poets">Poets</a>
    <a href="/acount/login">Login</a>
    <a href="/acount/register">Register</a>
</nav>


<!--
main content 
-------------------------------------------->
<div class="main_content">   
    {% block main_content %}{% endblock %}
</div>

<!--
footer
-------------------------------------------->
<footer>  

    <div class="container">
        <div class="row">
            <div class="col-md-3 signature">
                Sean Arkley Rodney Tedesco <br>
                Montreal, Quebec, Canada <br>
                seantedesco@hotmail.com <br> <br>
                Lover of all prose, especially that which comes from a broken heart. 
            </div>
            <div class="col-md-9 logo">   
                <img src="static/img/Poetry_Prescription_Bottles.png" alt="old-medicine-bottle-clipart">
            </div>
        </div>  

    </div>

</footer>

<!--
body end 
-------------------------------------------->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>