{% extends "shared/_layout.html" %}
{% block title_content %} About {% endblock %}
{% block main_content %}


<div class="container">
    <h2>About</h2>
    <div class="row">
        <q>What is a poet? An unhappy man who hides deep anguish in his heart, but whose lips are so formed that when the
            sigh and cry pass through them, it sounds like lovely music.... And people flock around the poet and say:
            'Sing again soon' - that is, 'May new sufferings torment your soul but your lips be fashioned as before,
            for the cry would only frighten us, but the music, that is blissful. 
        </q> 
        <cite>- Søren Kierkegaard</cite>
    </div>
    <div class="row inspiration">
        <p>This work was inspired by the Author William Sieghart and his work of <em>The Poetry Pharmacy</em>.</p>
        <div class="col-md-6">
            <img src="/static/img/The_Poetry_Pharmacy.jpg" alt="The_Poetry_Pharmacy">
        </div>
        <div class="col-md-6">
            <img src="/static/img/William_Sieghart.jpg" alt="William_Sieghart">
        </div>
    </div>
</div>



{% endblock %}